<!DOCTYPE html>
<html>
<head></head>

<body layout-fill>
  <div layout="column"
  layout-align="center center"
  style="width:70%;margin-left:15%;">
    <div style="height:24px;"> &nbsp; </div>
    <md-card layout-fill>
      <md-card-content>
        <h2>Instructions</h2>
        <p> Enter the ingredients you have available, then click
          the button to find recipes that match! Click on the recipe name for
          the complete recipe. </p>

        <div layout="row" layout-align="space-between center">
          <!-- Ingredients search options -->
          <div layout="column">
            <h4> Ingredients </h4>
            <md-chips ng-model="s.ingredients"
              placeholder="Add ingredients"
              md-max-chips="5">
            </md-chips>
          </div>

          <!-- Other search options -->
          <div>
            <h4> Maximum Time (minutes) </h4>
            <md-slider md-discrete
            ng-model="s.maxTime"
            step="15" min="15" max="300">
            </md-slider>
          </div>

        </div>
      </md-card-content>
      <md-card-actions layout="row" layout-align="center center">
        <md-button ng-click="s.searchRecipes(s.ingredients);">Search</md-button>
      </md-card-actions>
    </md-card>

    <!-- Search results list -->
    <md-list ng-repeat="recipe in s.recipes"
    layout="row"
    layout-align="space-around center"
    layout-fill
    style="width:100%;padding-top:10%;padding-bottom:10%;"
    layout-sm="column"
    layout-xs="column"
    layout-padding>
      <div layout="column" style="padding-left:5%;" layout-align="center start" flex="60">
      <a ng-href="{{recipe.url}}" style="text-decoration:none;">
        <h3> {{recipe.name}} </h3> </a>
      <p class="quote" ng-if="recipe.desc.length > 0"> {{recipe.desc}} </p>
      <br>
      <div>
      <div ng-repeat="i in recipe.ingredients" ng-if="i.owned">
        <md-icon md-svg-src="./img/check.svg" aria-label="checked"></md-icon>
        <span> {{i.name}} </span>
      </div>
      <br>
      <div ng-repeat="i in recipe.ingredients" ng-if="!i.owned">
        <md-icon md-svg-src="./img/circle.svg" aria-label="unchecked"></md-icon>
        <span style="color:#F07154;"> {{i.name}} </span>
      </div>
    </div>
      <br>
      <div> <span> This dish will take {{recipe.time}} to make. </span> </div>
    </div>
    <div flex="40">
      <img src="{{recipe.image}}" class="recipeImage">
    </div>
    </md-list>
  </div>
</body>
</html>
